# Compile and clean EU data

In [16]:
import numpy as np
import pandas as pd

### Clean original df

In [17]:
df = pd.read_csv('../data/raw_data/eu_da_prices.csv', delimiter=';')
df

/var/folders/6q/3ph29pxd0j19f826329mrmgc0000gn/T/ipykernel_7460/2732515986.py:1: DtypeWarning: Columns (4,8,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw_data/eu_da_prices.csv', delimiter=';')

,Date,Start,End,Germany/Luxembourg [€/MWh] Original resolutions,∅ DE/LU neighbours [€/MWh] Original resolutions,Belgium [€/MWh] Original resolutions,Denmark 1 [€/MWh] Original resolutions,Denmark 2 [€/MWh] Original resolutions,France [€/MWh] Original resolutions,Netherlands [€/MWh] Original resolutions,Norway 2 [€/MWh] Original resolutions,Austria [€/MWh] Original resolutions,Poland [€/MWh] Original resolutions,Sweden 4 [€/MWh] Original resolutions,Switzerland [€/MWh] Original resolutions,Czech Republic [€/MWh] Original resolutions,DE/AT/LU [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions
0,"Jan 1, 2019",12:00 AM,1:00 AM,28.32,-,69.49,28.32,28.32,51,68.92,48.77,33.48,-,28.32,50.26,8.50,-,51.00,51.00,59.9
1,"Jan 1, 2019",1:00 AM,2:00 AM,10.07,-,66.58,10.07,10.07,46.27,64.98,49.25,39.76,-,10.07,48.74,3.97,-,46.27,46.27,52.71
2,"Jan 1, 2019",2:00 AM,3:00 AM,-4.08,-,65.07,-4.08,-4.08,39.78,60.27,49.17,39.78,-,10.03,47.24,4.70,-,39.78,39.78,36.49
3,"Jan 1, 2019",3:00 AM,4:00 AM,-9.91,-,52.17,-9.91,-9.91,27.87,49.97,48.37,27.87,-,4.56,36.29,0.93,-,27.87,27.87,31.24
4,"Jan 1, 2019",4:00 AM,5:00 AM,-7.41,-,47.66,-7.41,-7.41,23.21,47.66,47.19,-0.36,-,4.83,30.09,3.90,-,22.00,-0.36,25.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,"Dec 31, 2022",7:00 PM,8:00 PM,-1.01,38.64,22.09,67.01,15.08,18.11,67.01,125.44,15.04,87.43,15.08,4.41,-11.67,-,333.00,40.66,140.01
35060,"Dec 31, 2022",8:00 PM,9:00 PM,-1.39,29.17,10.55,40.50,11.57,7.6,40.50,123.61,4.40,68.14,11.57,1.75,0.66,-,310.00,7.60,20.24
35061,"Dec 31, 2022",9:00 PM,10:00 PM,-1.04,22.02,5.22,14.89,14.89,3.69,14.89,121.09,7.95,41.55,14.89,0.41,2.76,-,270.00,7.95,9.96
35062,"Dec 31, 2022",10:00 PM,11:00 PM,-1.07,18.3,2.39,9.94,9.94,1.88,9.94,120.00,4.01,31.99,9.94,0.07,1.19,-,217.78,4.01,4.82
35063,"Dec 31, 2022",11:00 PM,12:00 AM,-0.68,14.95,0.13,4.84,4.84,0.1,1.61,119.98,1.12,21.34,4.84,4.96,0.68,-,200.00,1.38,2.06

In [18]:
df.head()

,Date,Start,End,Germany/Luxembourg [€/MWh] Original resolutions,∅ DE/LU neighbours [€/MWh] Original resolutions,Belgium [€/MWh] Original resolutions,Denmark 1 [€/MWh] Original resolutions,Denmark 2 [€/MWh] Original resolutions,France [€/MWh] Original resolutions,Netherlands [€/MWh] Original resolutions,Norway 2 [€/MWh] Original resolutions,Austria [€/MWh] Original resolutions,Poland [€/MWh] Original resolutions,Sweden 4 [€/MWh] Original resolutions,Switzerland [€/MWh] Original resolutions,Czech Republic [€/MWh] Original resolutions,DE/AT/LU [€/MWh] Original resolutions,Northern Italy [€/MWh] Original resolutions,Slovenia [€/MWh] Original resolutions,Hungary [€/MWh] Original resolutions
0,"Jan 1, 2019",12:00 AM,1:00 AM,28.32,-,69.49,28.32,28.32,51,68.92,48.77,33.48,-,28.32,50.26,8.50,-,51.00,51.00,59.9
1,"Jan 1, 2019",1:00 AM,2:00 AM,10.07,-,66.58,10.07,10.07,46.27,64.98,49.25,39.76,-,10.07,48.74,3.97,-,46.27,46.27,52.71
2,"Jan 1, 2019",2:00 AM,3:00 AM,-4.08,-,65.07,-4.08,-4.08,39.78,60.27,49.17,39.78,-,10.03,47.24,4.70,-,39.78,39.78,36.49
3,"Jan 1, 2019",3:00 AM,4:00 AM,-9.91,-,52.17,-9.91,-9.91,27.87,49.97,48.37,27.87,-,4.56,36.29,0.93,-,27.87,27.87,31.24
4,"Jan 1, 2019",4:00 AM,5:00 AM,-7.41,-,47.66,-7.41,-7.41,23.21,47.66,47.19,-0.36,-,4.83,30.09,3.90,-,22.00,-0.36,25.98

In [19]:
df.columns = [
    'date', 'start_time', 'end_time', 'Germany', 'De-Lu', 'Belgium', 'Denmark 1',
    'Denmark 2', 'France', 'Netherlands', 'Norway 2', 'Austria', 'Poland',
    'Sweden 4', 'Switzerland', 'Czech', 'De-At-Lu', 'Italy', 'Slovenia', 'Hungary'
]
df.head()

,date,start_time,end_time,Germany,De-Lu,Belgium,Denmark 1,Denmark 2,France,Netherlands,Norway 2,Austria,Poland,Sweden 4,Switzerland,Czech,De-At-Lu,Italy,Slovenia,Hungary
0,"Jan 1, 2019",12:00 AM,1:00 AM,28.32,-,69.49,28.32,28.32,51,68.92,48.77,33.48,-,28.32,50.26,8.50,-,51.00,51.00,59.9
1,"Jan 1, 2019",1:00 AM,2:00 AM,10.07,-,66.58,10.07,10.07,46.27,64.98,49.25,39.76,-,10.07,48.74,3.97,-,46.27,46.27,52.71
2,"Jan 1, 2019",2:00 AM,3:00 AM,-4.08,-,65.07,-4.08,-4.08,39.78,60.27,49.17,39.78,-,10.03,47.24,4.70,-,39.78,39.78,36.49
3,"Jan 1, 2019",3:00 AM,4:00 AM,-9.91,-,52.17,-9.91,-9.91,27.87,49.97,48.37,27.87,-,4.56,36.29,0.93,-,27.87,27.87,31.24
4,"Jan 1, 2019",4:00 AM,5:00 AM,-7.41,-,47.66,-7.41,-7.41,23.21,47.66,47.19,-0.36,-,4.83,30.09,3.90,-,22.00,-0.36,25.98

In [20]:
df.insert(1, 'datetime', pd.to_datetime(df.date + ' ' +  df.start_time))
df.date = pd.to_datetime(df.date)
df.drop(['start_time', 'end_time', 'De-At-Lu'], axis=1, inplace=True)
df.head()

,date,datetime,Germany,De-Lu,Belgium,Denmark 1,Denmark 2,France,Netherlands,Norway 2,Austria,Poland,Sweden 4,Switzerland,Czech,Italy,Slovenia,Hungary
0,2019-01-01,2019-01-01 00:00:00,28.32,-,69.49,28.32,28.32,51,68.92,48.77,33.48,-,28.32,50.26,8.50,51.00,51.00,59.9
1,2019-01-01,2019-01-01 01:00:00,10.07,-,66.58,10.07,10.07,46.27,64.98,49.25,39.76,-,10.07,48.74,3.97,46.27,46.27,52.71
2,2019-01-01,2019-01-01 02:00:00,-4.08,-,65.07,-4.08,-4.08,39.78,60.27,49.17,39.78,-,10.03,47.24,4.70,39.78,39.78,36.49
3,2019-01-01,2019-01-01 03:00:00,-9.91,-,52.17,-9.91,-9.91,27.87,49.97,48.37,27.87,-,4.56,36.29,0.93,27.87,27.87,31.24
4,2019-01-01,2019-01-01 04:00:00,-7.41,-,47.66,-7.41,-7.41,23.21,47.66,47.19,-0.36,-,4.83,30.09,3.90,22.00,-0.36,25.98

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         35064 non-null  datetime64[ns]
 1   datetime     35064 non-null  datetime64[ns]
 2   Germany      35064 non-null  float64
 3   De-Lu        35064 non-null  object
 4   Belgium      35064 non-null  float64
 5   Denmark 1    35064 non-null  float64
 6   Denmark 2    35064 non-null  float64
 7   France       35064 non-null  object
 8   Netherlands  35064 non-null  float64
 9   Norway 2     35064 non-null  float64
 10  Austria      35064 non-null  float64
 11  Poland       35064 non-null  object
 12  Sweden 4     35064 non-null  float64
 13  Switzerland  35064 non-null  float64
 14  Czech        35064 non-null  float64
 15  Italy        35064 non-null  float64
 16  Slovenia     35064 non-null  float64
 17  Hungary      35064 non-null  object
dtypes: datetime64[ns](2), float64(12), object(4)
memory usage: 4.8+ MB

In [22]:
df.replace('-', np.NaN, inplace=True)
df.replace(',', '', regex=True, inplace=True)
df.de_lu = df['De-Lu'].astype(float)
df.France = df.France.astype(float)
df.Poland = df.Poland.astype(float)
df.Hungary = df.Hungary.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         35064 non-null  datetime64[ns]
 1   datetime     35064 non-null  datetime64[ns]
 2   Germany      35064 non-null  float64
 3   De-Lu        27288 non-null  object
 4   Belgium      35064 non-null  float64
 5   Denmark 1    35064 non-null  float64
 6   Denmark 2    35064 non-null  float64
 7   France       35064 non-null  float64
 8   Netherlands  35064 non-null  float64
 9   Norway 2     35064 non-null  float64
 10  Austria      35064 non-null  float64
 11  Poland       27288 non-null  float64
 12  Sweden 4     35064 non-null  float64
 13  Switzerland  35064 non-null  float64
 14  Czech        35064 non-null  float64
 15  Italy        35064 non-null  float64
 16  Slovenia     35064 non-null  float64
 17  Hungary      35040 non-null  float64
dtypes: datetime64[ns](2), float64(15), object(1)
memory usage: 4.8+ MB

/var/folders/6q/3ph29pxd0j19f826329mrmgc0000gn/T/ipykernel_7460/135682928.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.de_lu = df['De-Lu'].astype(float)

### Merge in GB 2022 comparison in EUR

In [23]:
epex_price_df = pd.read_csv('../data/raw_data/EPEX_and_N2EX_DA_WD_PRICES.csv')[['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'EPEX_DA']]
epex_price_df.columns = ['date', 'sp', 'gb_price_gbp']
epex_price_df['hour'] = np.ceil(epex_price_df.sp / 2).astype(int)
epex_price_df.drop('sp', axis=1, inplace=True)
epex_price_df.drop_duplicates(subset=['date', 'hour'], inplace=True)
epex_price_df.date = pd.to_datetime(epex_price_df.date)
conversion_df = pd.read_csv('../data/raw_data/euro-british-pound-exchange-rate-historical-chart.csv', skiprows=15)
conversion_df.rename({' value': 'conversion'}, axis=1, inplace=True)
conversion_df.date = pd.to_datetime(conversion_df.date)
conversion_df = pd.merge(pd.DataFrame(pd.date_range(start='2022-01-01', end='2022-12-31', freq='D'), columns=['date']), conversion_df, on='date', how='left').fillna(method='ffill')
epex_price_df = pd.merge(epex_price_df, conversion_df, on='date', how='left')
epex_price_df['GB'] = epex_price_df.gb_price_gbp / epex_price_df.conversion
epex_price_df = epex_price_df.round(2)
epex_price_df.drop(['gb_price_gbp', 'conversion'], axis=1, inplace=True)
epex_price_df

           date  hour      GB
0    2022-01-01     1   81.87
1    2022-01-01     2   64.49
2    2022-01-01     3   24.99
3    2022-01-01     4    7.02
4    2022-01-01     5    2.74
...         ...   ...     ...
8755 2022-12-31    20  190.03
8756 2022-12-31    21  166.74
8757 2022-12-31    22  157.10
8758 2022-12-31    23   89.43
8759 2022-12-31    24   58.64

[8760 rows x 3 columns]

In [24]:
df.insert(1, 'hour', df.datetime.dt.hour + 1)
df.head()

,date,hour,datetime,Germany,De-Lu,Belgium,Denmark 1,Denmark 2,France,Netherlands,Norway 2,Austria,Poland,Sweden 4,Switzerland,Czech,Italy,Slovenia,Hungary
0,2019-01-01,1,2019-01-01 00:00:00,28.32,NaN,69.49,28.32,28.32,51.00,68.92,48.77,33.48,NaN,28.32,50.26,8.50,51.00,51.00,59.90
1,2019-01-01,2,2019-01-01 01:00:00,10.07,NaN,66.58,10.07,10.07,46.27,64.98,49.25,39.76,NaN,10.07,48.74,3.97,46.27,46.27,52.71
2,2019-01-01,3,2019-01-01 02:00:00,-4.08,NaN,65.07,-4.08,-4.08,39.78,60.27,49.17,39.78,NaN,10.03,47.24,4.70,39.78,39.78,36.49
3,2019-01-01,4,2019-01-01 03:00:00,-9.91,NaN,52.17,-9.91,-9.91,27.87,49.97,48.37,27.87,NaN,4.56,36.29,0.93,27.87,27.87,31.24
4,2019-01-01,5,2019-01-01 04:00:00,-7.41,NaN,47.66,-7.41,-7.41,23.21,47.66,47.19,-0.36,NaN,4.83,30.09,3.90,22.00,-0.36,25.98

In [25]:
df = pd.merge(df, epex_price_df, on=['date', 'hour'], how='left')
df.to_csv('../data/cleaned_data/eu_da_prices_clean.csv')
df

,date,hour,datetime,Germany,De-Lu,Belgium,Denmark 1,Denmark 2,France,Netherlands,Norway 2,Austria,Poland,Sweden 4,Switzerland,Czech,Italy,Slovenia,Hungary,GB
0,2019-01-01,1,2019-01-01 00:00:00,28.32,NaN,69.49,28.32,28.32,51.00,68.92,48.77,33.48,NaN,28.32,50.26,8.50,51.00,51.00,59.90,NaN
1,2019-01-01,2,2019-01-01 01:00:00,10.07,NaN,66.58,10.07,10.07,46.27,64.98,49.25,39.76,NaN,10.07,48.74,3.97,46.27,46.27,52.71,NaN
2,2019-01-01,3,2019-01-01 02:00:00,-4.08,NaN,65.07,-4.08,-4.08,39.78,60.27,49.17,39.78,NaN,10.03,47.24,4.70,39.78,39.78,36.49,NaN
3,2019-01-01,4,2019-01-01 03:00:00,-9.91,NaN,52.17,-9.91,-9.91,27.87,49.97,48.37,27.87,NaN,4.56,36.29,0.93,27.87,27.87,31.24,NaN
4,2019-01-01,5,2019-01-01 04:00:00,-7.41,NaN,47.66,-7.41,-7.41,23.21,47.66,47.19,-0.36,NaN,4.83,30.09,3.90,22.00,-0.36,25.98,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2022-12-31,20,2022-12-31 19:00:00,-1.01,38.64,22.09,67.01,15.08,18.11,67.01,125.44,15.04,87.43,15.08,4.41,-11.67,333.00,40.66,140.01,190.03
35060,2022-12-31,21,2022-12-31 20:00:00,-1.39,29.17,10.55,40.50,11.57,7.60,40.50,123.61,4.40,68.14,11.57,1.75,0.66,310.00,7.60,20.24,166.74
35061,2022-12-31,22,2022-12-31 21:00:00,-1.04,22.02,5.22,14.89,14.89,3.69,14.89,121.09,7.95,41.55,14.89,0.41,2.76,270.00,7.95,9.96,157.10
35062,2022-12-31,23,2022-12-31 22:00:00,-1.07,18.3,2.39,9.94,9.94,1.88,9.94,120.00,4.01,31.99,9.94,0.07,1.19,217.78,4.01,4.82,89.43
35063,2022-12-31,24,2022-12-31 23:00:00,-0.68,14.95,0.13,4.84,4.84,0.10,1.61,119.98,1.12,21.34,4.84,4.96,0.68,200.00,1.38,2.06,58.64